h2 {
 color: skyblue;
  font-size: 80px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: lightblue;
}

body {
  background-color: antiquewhite;
}



nav {
  list-style-type: none;
  background-color: darkblue;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 5px;
  text-align: right;
  color: lightblue

}

li: hover {
  background: darkblue;
}

li{
  display: inline;
  padding: 16px;
}

